@model WebAppCoreGMQA.ViewModels.Projeto.ProjetoViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" id="Create">
    <div class="form-horizontal">
        <h4>ProjetoViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>        
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger" />
            </div>

            <label style="margin-top:20px" asp-for="ClienteProjeto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input style="margin-top:20px" asp-for="ClienteProjeto" class="form-control" />
                <span asp-validation-for="ClienteProjeto" class="text-danger" />
            </div>

            <label style="margin-top:20px" asp-for="DataInicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" style="margin-top:20px; width:170px;" asp-for="DataInicio" class="form-control" />
                <span id = "DataInicio" asp-validation-for="DataInicio" class="text-danger" />
            </div>

            <label style="margin-top:20px" asp-for="DataFim" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" style="margin-top:20px; width:170px;" asp-for="DataFim" class="form-control" />
                <span id = "DataFim" asp-validation-for="DataFim" class="text-danger" />

            </div>
            <span id="erroData" style="padding-left:15px;" hidden class="text-danger">Data fim é menor que data de inicio.</span>

            @*<label style="margin-top:20px" asp-for="DataReal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" style="margin-top:20px; width:170px;" asp-for="DataReal" class="form-control" />
                <span asp-validation-for="DataReal" class="text-danger" />
            </div>*@

            <label style="margin-top:20px" asp-for="IdUserResponsavelProjeto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.IdUserResponsavelProjeto, new SelectList(ViewBag.Usuarios, "IdUser", "Nome"),"Selecione", new { @class="form-control", @style = "margin-top:20px; width: 170px;"})
                <span asp-validation-for="IdUserResponsavelProjeto" class="text-danger" />
            </div>

            <label style="margin-top:20px" asp-for="IdUserAdmProjeto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.IdUserAdmProjeto, new SelectList(ViewBag.Usuarios, "IdUser", "Nome"), "Selecione", new { @class = "form-control", @style = "margin-top:20px; width: 170px;" })
                <span asp-validation-for="IdUserAdmProjeto" class="text-danger" />
            </div>
            <label style="margin-top:20px" asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select  asp-for="Status" name="Status" id="Status" class="form-control" style="margin-top:20px; width: 170px;">
                    <option value="anda">Em andamento</option>
                    <option value="canc">Cancelado</option>
                    <option value="para">Parado</option>
                    <option value="apro">Aprovado</option>
                    <option value="aguar">Aguardando</option>
                </select>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
            
            @*<label style="margin-top:20px" asp-for="IdUserAdmProjeto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.Status, "Selecione", new { @class = "form-control", @style = "margin-top:20px; width: 170px;" })
                <span asp-validation-for="IdUserAdmProjeto" class="text-danger" />
            </div>*@
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="create" type="button" value="Create" class="btn btn-default" onclick="validar()" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function validar() {
           var dataInicio = $('#DataInicio').val();
           var dataFim = $('#DataFim').val();

           if(dataInicio <= dataFim)
           {
               $("#Create").submit();
           }
           else
           {
               //alert("Data fim maior que data inicio");
               $("#erroData").show();
           }
        }
    </script>
}
