@model IEnumerable<WebAppCoreGMQA.ViewModels.Projeto.ProjetoViewModel>

@{
    ViewData["Title"] = "Projeto";
}
<div class="row">
    <div class="col-md-8 col-lg-8">
        <h2>@ViewData["Title"]</h2>
    </div><!-- /.col-lg-6 -->
    <div class="col-md-4 col-lg-4">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search!</button>
            </span>
            <input id="filtro" onkeyup="SearchProject();" type="text" class="form-control" placeholder="Search for...">
        </div>
    </div>
</div>



<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @Html.Partial("SearchProject")
</div>


<script>
    function SearchProject() {
        $.ajax({
            type: 'post',
            url : '@Url.Action("SearchProject")',
            dataType: 'html',
            data: {
                filtro: $("#filtro").val()
            },
            success: function (data) {
                $('.table').html(data);
            }

        });
    }
</script>