<div>
    <form class="form-horizontal"
          name="myForm"
          ng-controller="ctrlFormularioTeste" ng-app="appTeste">
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opções
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/" ng-click="executa()">Executar</a></li>
                        </ul>
                    </div>

                    <div>
                        <span ng-bind="status"></span>
                    </div>
                </div>
                </div>
        </fieldset>

    </form>
</div>

