@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Projetos</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="donut-example" style="height:200px;"></div>
        </div>
    </div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Projetos</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="area-example" style="height:200px;"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
 
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/images/slides/1gestao.jpg" alt="" />
                        <div class="flex-caption"></div>
                    </li>
                    <li>
                        <img src="~/images/slides/2medicao.jpg" alt="" />
                        <div class="flex-caption"></div>

                    <li>
                        <img src="~/images/slides/3qualidade.jpg" alt="" />
                        <div class="flex-caption"></div>
                    </li>

                    <li>
                        <img src="~/images/slides/4artefatos.jpg" alt="" />
                        <div class="flex-caption"></div>
                    </li>
                </ul>
            </div>

    </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

<script>
    $(function () {
        DashBoard();
    });


    function DashBoard() {
        debugger
        $.ajax({
            type: "POST",
            url: "/Projeto/RetornQntProd",
            success: function (retorno) {
                //valorGrafico = retorno.retorno;
                Morris.Donut({
                    element: 'donut-example',
                    colors: ['#FFA500', '#0000FF', '#FF0000	', '#778899'],
                    data: [
                      { label: "Andamento", value: retorno.andamento },
                      { label: "Aprovado", value: retorno.aprovado },
                      { label: "Cancelado", value: retorno.cancelado },
                      { label: "Parado", value: retorno.parado }
                    ],

                });

                select(1)
            }
        });
    }
    //window.setTimeout('DashBoard()', 3000);

    Morris.Area({
        element: 'area-example',
        data: [
          { y: '2006', a: 100, b: 90 },
          { y: '2007', a: 75, b: 65 },
          { y: '2008', a: 50, b: 40 },
          { y: '2009', a: 75, b: 65 },
          { y: '2010', a: 50, b: 40 },
          { y: '2011', a: 75, b: 65 },
          { y: '2012', a: 100, b: 90 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Series A', 'Series B']
    });
</script>



