@model IEnumerable<WebAppCoreGMQA.ViewModels.Risco.RiscoViewModel>

@{
    ViewData["Title"] = "Riscos";
}

<div class="row">
    <div class="col-md-8 col-lg-8">
        <h2>@ViewData["Title"]</h2>
    </div><!-- /.col-lg-6 -->

</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @Html.Partial("SearchProject")
</div>
    