<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GMQA</title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">


    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="~/css/jcarousel.css" rel="stylesheet" />
        <link href="~/css/flexslider.css" rel="stylesheet" />
        <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">


</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/layout/gmqa_logo.png" alt="Logo GMQA" width="197" height="70" /></a>

                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>John Doe</h2>
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->
                    <br />
                    @*@await Html.PartialAsync("_LoginPartial")*@

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
 
                            <ul class="nav side-menu">
                 
                                <li><a asp-controller="Home" asp-action="Index"> <i class="fa fa-home"></i>Home</a></li>

                                <li><a asp-controller="Home" asp-action="About"> <i class="fa fa-info-circle"></i> Sobre</a></li>

                                <li><a asp-controller="Home" asp-action="Contact"> <i class="fa fa-phone"></i>Contato</a></li>
                                <li><a asp-controller="Projeto" asp-action="Index"><i class="fa fa-table"></i>Projeto</a></li>
                                <li><a asp-controller="Ciclo" asp-action="Index"><i class="fa fa-circle-o-notch"></i>Ciclos</a></li>
                                <li><a asp-controller="Risco" asp-action="Index"><i class="fa fa-exclamation-triangle"></i>Riscos</a></li>
                                <li><a asp-controller="NivelAcesso" asp-action="Index"><i class="fa fa-folder-open-o"></i>Níveis de Acesso</a></li>
                                <li><a asp-controller="Metrica" asp-action="Index"><i class="fa fa-wrench"></i>Metricas</a></li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            @inject SignInManager<ApplicationUser> SignInManager
            @inject UserManager<ApplicationUser> UserManager
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">

                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <span>@UserManager.GetUserName(User)!</span>
                                    }
                                    <span class="fa fa-user" style="font-size:15px;"></span>

                                    <span class="fa fa-angle-down"></span>

                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                                <button type="submit" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-sign-out pull-right"></i>Log off</button>

                                            </form>

                                        </li>

                                    }
                                    else
                                    {

                                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                                    }

                                </ul>


                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()
            
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>

                <div class="pull-right">

                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- ECharts -->
    <script src="~/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/vendors/echarts/map/js/world.js"></script>


    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>

    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/jquery.fancybox-media.js"></script>
    <script src="~/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/js/portfolio/setting.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/validator.min.js"></script>
    <script type="text/javascript" src="~/js/SearchProject.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>

