USE [master]
GO
/****** Object:  Database [TESTE]    Script Date: 10/10/2015 11:03:35 ******/
CREATE DATABASE [TESTE] ON  PRIMARY 
( NAME = N'TESTE', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\TESTE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TESTE_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\TESTE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TESTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TESTE]
GO
/****** Object:  Table [dbo].[tbProjeto]    Script Date: 10/10/2015 11:03:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProjeto](
	[ID] [int] NOT NULL,
	[Nome] [varchar](255) NOT NULL,
 CONSTRAINT [PK_tbProjeto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
